<div class="mx-48 mt-24 bg-natural h-screen">
  <h1 class="text-2xl mb-12">What is "a meta note"?</h1>
  <p class="mb-12">Analyze your daily schedule to get the optimal lifestyle.</p>
  <div class="flex justify-center">
    <%= link_to "Sign Up", new_user_path, class: "link link-secondary mx-5" %>
    <%= link_to "Login", login_path, class: "link link-secondary mx-5" %>
  </div>
  <%= render 'shared/hooter' %>
</div>

