<%= render 'shared/flash' %>
<div class="bg-natural pb-12 lg:pb-48 h-min-screen lg:h-screen">
  <h1 class="text-xl">Schedule Basis Index</h1>
  <div class="flex justify-center">
    <div class="grid grid-col-1 lg:grid-cols-3 gap-1 lg:gap-3 my-5 lg:my-0">
      <% if @schedule_bases.count < 2 %>
        <button type="button" data-modal-toggle="authentication-modal">
          <div class="card w-80 lg:w-96 h-96 lg:h-128 pt-32 pb-48 bg-primary hover:bg-base-300 shadow-xl mx-0 lg:mx-5 mt-5">
            <div class="card-body items-center text-center">
              <div class="card-actions">
                <i class="fa-solid fa-plus text-6xl mt-0 lg:mt-12"></i>
              </div>
            </div>
          </div>
        </button>
        <%= render 'schedule_bases/modal_form', schedule: @schedule_basis %>
      <% end %>
      <%= render @schedule_bases %>
    </div>
  </div>
</div>
