<%= form_with model: schedule, local: true do |f| %>
  <div>
    <%= f.label "Date" %>
    <%= f.date_select :title %>
  </div>
  <%= f.submit "登録" %>
  <button type="submit" class="btn">submit</button>
<% end %>
