<div class="flex justify-center mt-56">
  <%= link_to "Terms of Use", terms_regulation_path, class: "link link-secondary mx-5" %>
  <%= link_to "Privacy Policy", privacy_regulation_path, class: "link link-secondary mx-5" %>
</div>
<p class="text-center mt-2">2022. a meta note.</p>
