<div class="text-natural mt-12 mx-24">
  <h1 class="text-2xl mb-5">アクセスしようとしたページは、表示できませんでした。</h1>
  <p class="text-md mb-5">サービスがメンテナンス中であるか、</p>
  <p class="text-md mb-5">サービスのプログラム上に問題がある可能性があります。</p>
  <%= link_to :back do %>
    <div class="rounded-md p-3 bg-red-100 text-headline text-md w-44">前のページに戻る<i class="fas fa-chevron-right ml-2"></i></div>
  <% end %>
</div>
