<%= form_with model: category, local: true do |f| %>
  <div class="flex justify-start mt-16">
    <%= f.collection_select(:color, Color.all, :name, :name, {}, class: "mr-2 py-2.5 px-0 w-36 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer") %>
    <div class="relative group mx-2 z-0">
      <input type="text" name="category[name]" id="category_name" class="block py-2.5 px-0 w-36 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="category_name" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Start</label>
    </div>
    <%= f.submit 'submit', class: "btn btn-sm mt-2" %>
  </div>
<% end %>
