<%= render 'shared/flash' %>
<div class="h-screen bg-natural">
  <h1 class="font-bold text-2xl">
    <span>
      <%= link_to :back do %>
        <i class="fa-solid fa-chevron-right pr-2"></i>
      <% end %>
    </span>
    Category Index
  </h1>
  <%= render 'categories/form', category: @category %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-16">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Color</th>
          <th scope="col" class="px-3 py-3">Edit</th>
          <th scope="col" class="px-3 py-3">Delete</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>
