<div class="">
  <%= form_with model: @category, local: true do |f| %>
  <%= f.collection_select(:color, Color.all, :name, :name, {}, {class:""}) %>
  <%= f.text_field :name %>
  <%= f.submit '投稿する' %>
  <% end %>
</div>
